<launch>
    <!-- Simulation (2 Turtlebots) -->
    <include file="$(find multiple_robots_stage)/launch/robots_in_stage.launch"/>

    <!-- Task Server -->
    <node pkg="long_term_deployment" type="task_server.py" name="task_server"/>

    <!-- Clients and TF repub -->
    <group ns="robot_0">
        <include file="$(find turtlebot_bringup)/launch/includes/robot.launch.xml">
            <arg name="base" value="kobuki"/>
            <arg name="stacks" value="hexagons"/>
            <arg name="3d_sensor" value="kinect"/>
        </include>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="true"/>
        </node>

        <node pkg="long_term_deployment" name="robot_client" type="client.py" output="screen">
            <param name="agent_name" value="robot_0"/>
            <param name="agent_type" value="turtlebot"/>
        </node>
        <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher"/>
        <node name="cartographer_node" pkg="cartographer_ros" output="screen"
            type="cartographer_node" args="
                -configuration_directory
                    $(find multiple_robots_stage)/configuration_files
                -configuration_basename robot_0.lua">
            <remap from="scan" to="base_scan" />
        </node>
        
        <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05">
            <remap from="map" to="new_map" />
        </node>
    </group>

    <group ns="robot_1">
        <include file="$(find turtlebot_bringup)/launch/includes/robot.launch.xml">
            <arg name="base" value="kobuki"/>
            <arg name="stacks" value="hexagons"/>
            <arg name="3d_sensor" value="kinect"/>
        </include>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="true"/>
        </node>

        <node pkg="long_term_deployment" name="robot_client" type="client.py" output="screen">
            <param name="agent_name" value="robot_1"/>
            <param name="agent_type" value="turtlebot"/>
        </node>
        <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher"/>
        <node name="cartographer_node" pkg="cartographer_ros" output="screen"
            type="cartographer_node" args="
                -configuration_directory
                    $(find cartographer_ros)/configuration_files
                -configuration_basename robot_1.lua">
            <remap from="scan" to="base_scan" />
        </node>
        
        <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05">
            <remap from="map" to="new_map" />
        </node>
    </group>

    <!-- Bridge for Web UI -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>
